astroid==2.4.2
attrs==18.1.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.3
ConfigArgParse==1.4.1
Flask==2.0.1
idna==2.10
importlib-metadata==4.0.1
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==23.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.18.2
pyasn1==0.4.8
pylint==2.5.3
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
toml==0.10.1
urllib3==1.26.4
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
